{{> header }}
{{> navbar }}
<div class="flex-center position-ref full-height">  
    <div class="container-fluid">
        <div class="row text-center flex-center">
            <div class="col-8">
                <h1>BlockPC</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex corrupti molestias quia esse doloribus sint, labore, voluptas assumenda illum tenetur quae neque? Laudantium suscipit facilis natus illo, quam perspiciatis eos?</p>
            </div>
            <div class="col-4">
                <img src="assets/img/blockpc2.png" class="img-thumbnail" alt="blockpc">
            </div>
        </div>
    </div>
</div>
{{> footer }}